:root {
}

.button--footer-outline {
  @apply border border-[#cfd9de] text-black hover:text-black  hover:bg-[#e7e7e8];
}

.footer--button {
  @apply flex flex-col min-h-[52px] my-6 min-w-[52px] rounded-full text-[17px] items-center justify-center font-cBold;
}

.button--footer-filled {
  @apply bg-black dark:bg-white dark:hover:bg-[#D7DBDC] hover:bg-[#272C30] text-white dark:text-black;
}

.button--footer-disabled {
  @apply bg-[#86888b] dark:text-black text-white;
}

.button--footer-signup {
  @apply bg-[#1e9bf0] hover:bg-[#1A8CD8] text-white;
}

.follow--button {
  @apply rounded-full text-[14px] font-cBold min-w-[78px] cursor-pointer 
  hover:bg-[#272c30] text-white  dark:hover:bg-[#D7DBDC]
  bg-black dark:bg-white
  dark:text-black;
}

.follow--button-unfollow {
  @apply bg-transparent hover:bg-[#F9D7DA] dark:hover:bg-[#200A0B] dark:bg-transparent
  text-black hover:text-[#F54550] dark:text-white
  border border-[#d4dde1] dark:border-[#2f3336] hover:border-[#fdc9ce]
  dark:hover:border-[#67070f] dark:hover:bg-[#200A0B] dark:hover:text-[#F54550];
}

.button--rounded {
  @apply rounded-full flex flex-col justify-center items-center font-cBold leading-5 cursor-pointer min-w-[52px] min-h-[52px];
}

.button--rounded-audience {
  @apply min-w-[24px] min-h-[24px] px-4 text-[var(--primary-color)] 
  bg-transparent  hover:bg-[#1d9bf0]/10;
}

.button--icon-rounded {
  @apply w-[34px] h-[34px] flex justify-center items-center cursor-pointer rounded-full hover:bg-[#E8F5FE] dark:hover:bg-[#1d9cf0]/10 font-bold;
}
