:root {
  --primary-color: #1e9bf0;
  --primary-error-color: #f1202d;
  --primary-dark-border-color: #2f3336;
  --primary-dark-hov-bg-color: #191919;
  --primary-hov-bg-color: #e6e7e7;
}

/* 
#1e9bf0
#ffd500
#f91880
#7856ff
#ff7b00
#00ba7c
*/
