@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-col-container {
  @apply flex flex-col;
}

.custom-div {
}

.centered-column-container {
  @apply flex flex-col items-center justify-center;
}

.br {
  @apply border border-[red];
}

.bg {
  @apply border border-[#76ff31];
}

.bb {
  @apply border border-[#563737];
}

.bt {
  @apply border border-[#9be4ff];
}

.primary-text-style {
  @apply text-[15px] font-cReg leading-5;
}

/* https://codepen.io/flesler/pen/kdJmbw */

/* .placeholder:after {
  content: "What is happening?!";
  color: #a9a9a9;
  font-family: Arial;
} */

.aspect-ratio {
  padding-bottom: 10%; /* 16:9 aspect ratio */
}
.aspect-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.MuiSnackbarContent-message {
  @apply flex grow justify-center items-center;
}
