@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/stylesheets/buttons.css";
@import "./assets/stylesheets/colors.css";
@import "./assets/stylesheets/custom-utilities.css";
@import "./assets/stylesheets/header.css";
@import "./assets/stylesheets/cards.css";
@import "./assets/stylesheets/layout.css";
@import "./assets/stylesheets/post/post.css";

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles;

* {
  @apply box-border text-[#0f1419] dark:text-[#e7e9ea];
}

@font-face {
  font-family: "Custom-1";
  src: url("./font/chirp_regular.otf");
}

@font-face {
  font-family: "Custom-2";
  src: url("./font/chirp_light.otf");
}

@font-face {
  font-family: "Chrip Regular";
  src: url("./font/chirp_regular.otf");
}

@font-face {
  font-family: "Chrip Medium";
  src: url("./font/chirp_medium.otf");
}

@font-face {
  font-family: "Chirp Bold";
  src: url("./font/chirp_bold.otf");
}

@font-face {
  font-family: "Chirp Heavy";
  src: url("./font/chirp_heavy.otf");
}

@font-face {
  font-family: "Chirp Thin";
  src: url("./font/chirp_thin.otf");
}

/* styles.css */
.my-custom-label {
  @apply text-red-500; /* Apply Tailwind CSS classes using @apply */
}
