@import "./assets/stylesheets/buttons.css";
@import "./assets/stylesheets/app.css";
@import "./assets/stylesheets/inputs.css";
@import "./assets/stylesheets/cards.css";
@import "./assets/stylesheets/layout/header.css";
@import "./assets/stylesheets/layout.css";
@import "./assets/stylesheets/post/editor.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "chirp";
  src: url("./assets/fonts/chirp_regular.otf") format("opentype");
}

@font-face {
  font-family: "chirpHeavy";
  src: url("./assets/fonts/cheavy.woff2") format("opentype");
}

/* @font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff)
      format("woff");
  font-weight: 300;
  font-style: "normal";
  font-display: "swap";
} */
@font-face {
  font-family: chirpR;
  src: url("./assets/fonts/creg4.woff2") format("woff2");
  font-weight: 400;
  font-style: "normal";
  font-display: "swap";
}
/* @font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff)
      format("woff");
  font-weight: 500;
  font-style: "normal";
  font-display: "swap";
} */
@font-face {
  font-family: cBold;
  src: url("./assets/fonts/cbold.woff2") format("woff2");
  font-weight: 700;
  font-style: "normal";
  font-display: "swap";
}

@font-face {
  font-family: cHeavy;
  src: url("./assets/fonts/cheavy.woff2") format("woff2");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}

.heart {
  cursor: pointer;
  background-image: url("https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.heart:hover {
  background-position: right;
}

.is_animating {
  animation: heart-burst 0.8s steps(28) 1;
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.centered-column-container {
  @apply flex flex-col justify-center items-center;
}

/* testing */

.br {
  @apply border border-[red];
}

.bg {
  @apply border border-[#164204];
}
